body{
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin:auto; 
      
}

h2{
    text-align: center;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color:#2F4F4F;
}

li {
    float: left;
}

 li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color:#000000;
}
#main{
    border: 2px solid green;
    border-radius: 10px;
    background:  #2F4F4F;
    margin-top: 20px;
}
#main p{
    margin: 6px;
    border-radius: 10px;
    background: white;
    color: black;
    padding: 10px;
    width: 300px;
}

.image{
    margin-top: 40px;
    text-align: center;
}


h1 { font-size: 3em; }

.col-1{width: 8.33%}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.66%}
.col-6{width: 50%}
.col-7{width: 58.33%}
.col-8{width: 66.66%}
.col-9{width: 75%}
.col-10{width: 83.33%}
.col-11{width: 91.66%}
.col-12{width: 100%}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}

#contact{
    text-align: center;
    margin-top: 25px;
}